@media (max-width: 600px) {
  div {
    background-size: contain;
  }
}

@import url('https://fonts.cdnfonts.com/css/fivo-sans-modern');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace !important;
}
