@media (max-width: 600px) {
  div {
    background-size: contain;
  }
}

.header {
  position: fixed;
  background: rgb(255, 255, 255);
  /* top: 1%; */
  display: flex;
  align-items: center;
  justify-content: space-between; /* add this line */
  width: 100%;
  height: 7%;
  padding: 2em 3%; /* add padding to left and right */
  z-index: 2;
  box-shadow: 0em 1em 1em rgba(43, 6, 6, 0.308);
}

.header-hidden {
  transform: translateY(-100%);
}

.headerlogo {
  position: fixed;
  top: 1%;
  width: 10%;
  margin-right: 10em; /* Add 10em right margin */
  background-color: rgba(250, 235, 215, 0);
}

.buttongroup {
  justify-content: center;
  height: 100%;
  width: 12%;
  margin-left: 10em; /* Add 10em left margin */
  background-color: rgba(250, 235, 215, 0);
}

.loginbutton {
  border-radius: 10em;
  color: rgb(255, 255, 255);
  height: 50%;
  width: 50%;
  text-transform: capitalize;
  font-size: large;
}
.registerbutton {
  border-radius: 10em;
  background-color: rgb(255, 0, 157);
  color: #ffffff;
  height: 50%;
  width: 50%;
  font-size: large;
  text-transform: capitalize;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background-image: url(../../public/background.png);
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background-size: cover;
  background-position: center;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.fade-in {
  opacity: 0;
  transition: opacity 15s ease-in-out;
}

.fade-in.is-visible {
  opacity: 1;
}

.button {
  color: black;
  border-radius: 10px;
  margin-top: 25%;
  background-color: rgb(255, 255, 255);
  font-size: 1rem; /* increase font size */
  padding: 0.5rem 2rem; /* add padding */
  border: 2px solid black; /* add a black border */
  outline: none; /* remove default outline */
  width: 40%;
}

.button + .button {
  margin-left: 2.5rem; /* add space between buttons */
}

.labelbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(50%, 350%);
}

.input {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: -14%;
  margin-top: 14%;
  background-color: rgba(255, 255, 255, 0.123);
  font-size: 1rem; /* increase font size */
  outline-color: rgba(240, 248, 255, 0);
  width: 69%;
}
